{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% include 'topnav.html' %}   
	<h2>Premium Prayers</h2>
	<ul>
		{% for post in posts %}
		  	<table class="table table-bordered align=center"> 
				<tr>
				    <th rowspan="3"><img src="{{ post.profile.url}}" alt="{{ post.title }}"style="width:100px;height:100px;border-radius:50%;"></th>
				    <td><b>Name: {{ post.name }}</b></td><td><b>Prayer Date:  </b>{{ post.created_on | date:"d M Y" }}</td>
				</tr>
				<tr>
				    <td>{{ post.town }}, {{ post.city }}, {{ post.state }}</td><td><b>Display upto: </b>{{ post.display_upto | date:"d M Y" }}</td>
				</tr>
				<tr>
					
				</tr>			
				<tr>
				    <td colspan="3"><h5>Prayer: {{ post.prayer }}</h5></td>
				</tr>
			</table>
			<hr>
		{% endfor %}
	</ul>
{% endblock %}