{% extends 'base.html' %}
{% load static %}
{% block content %}
	<h1>Premium Prayers</h1>
	<ul>
		{% for post in object_list %}
		  	<table class="table table-bordered align=center"> 
				<tr>
				    <th rowspan="2"><img src="{{ post.profile.url}}" alt="{{ post.title }}"style="width:100px;height:100px;border-radius:50%;"></th>
				    <td><b>Name: {{ post.name }},</b>
				    {{ post.town }}, {{ post.city }}, {{ post.state }}</td><td><b>Prayer Date:  </b>{{ post.created | date:"d M Y" }}</td>
				</tr>			
				<tr>
				    <td colspan="3"><h5>Prayer: {{ post.prayer }}</h5></td>
				</tr>
			</table>
		{% endfor %}
	</ul
{% endblock %}